header{
    background-color: var(--cor3);
    min-width: 300px;
    max-width: 1400px;
    margin:  auto;
    min-height: 150px;
    padding: 20px;
}

header > h1{
    text-align: center;
    margin: auto;
    font-size: 3em;
    margin-bottom: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header p{
    text-align: center;
    margin: auto;
    font-size: 1em;
    max-width: 500px;
}

nav{
    text-align: center;
    background-color: var(--cor3);
    padding: 9px;
}

nav a{
    padding: 10px;
    text-decoration: none;
    color: black;
    padding-top: 5px;
    text-align: center;
}

nav > a:hover{
    transition-duration: 0.5s;
    background-color: var(--cor2) ;
}

body{
    background-color:var(--cor2);
}

main{
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
}


article{
    background-color:var(--corbody);
    min-width: 300px;
    max-width: 1400px;
    margin: auto;
    margin-bottom: 10px;
    min-height: 200px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 10px;
    border: 2px solid black;
    box-shadow: 10px 10px 30px black;
}

article p{
    text-align: justify;
    text-indent: 1.5em;
    line-height: 2em;
}

article img{
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    margin: auto;
    margin-top: 20px;
}

article h1{
    text-align: center;
    margin-bottom: 15px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
:root{
    --cor1:#5C4502;
    --cor2:#F5CE5B;
    --cor3:#DBA604;
    --cor4:#5C480D;
    --cor5:#A87F03;
    --corbody:#F7E5B1;
}

*{
    margin: 0;
    padding: 0;
}

strong{
    color: var(--cor2);
}
article a{
    text-decoration: none;
}
article iframe{
    width: 100%;
    min-height: 100px;
    max-height: 300px;
    margin: auto;
}

